<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}TBB Portal{% endblock %}</title>

{% set v = '20250823-2' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}?v={{v}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/retro.css') }}?v={{v}}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  {% block body %}{% endblock %}

  <script defer src="{{ url_for('static', filename='js/portal.js') }}?v={{v}}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
